@model TravelExperience.MVC.ViewModels.MainPageViewModel

@{
    ViewBag.Title = "Trips";
}

<h2>Trips</h2>


@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@


<div class="tabs">
    <ul id="tabstrip" class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#_Past" role="tab" data-toggle="tab">Past</a>
        </li>
        <li>
            <a href="#_Upcoming" role="tab" data-toggle="tab">Upcoming</a>
        </li>
    </ul>
</div>

<div class="tab-content">
    <div class="tab-pane fade in active" id="_Past">
        @Html.Partial("_Past")
    </div>
    <div class="tab-pane fade" id="_Upcoming">
        @Html.Partial("_Upcoming")
    </div>
</div>

<script>
    $('#tabstrip a').click(function (e) {
        e.preventDefault()
        var tabID = $(this).attr("href").substr(1);
        $(".tab-pane").each(function () {
            console.log("clearing " + $(this).attr("id") + " tab");
            $(this).empty();
        });

        $.ajax({
            url: "/@ViewContext.RouteData.Values["Booking"]/" + tabID,
            cache: false,
            type: "get",
            dataType: "html",
            success: function (result) {
                $("#" + tabID).html(result);
            }

        })
   $(this).tab('show')
});
</script>

