@model TravelExperience.MVC.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Account";
}

<h2>@ViewBag.Title</h2>
<br />



<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

    </dl>
</div>
