@using Microsoft.AspNet.Identity
@model IEnumerable<TravelExperience.DataAccess.Persistence.UnitOfWork>
@{
    ViewBag.Title = "Dashboard";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Host Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.css" />
    <link rel="stylesheet" href="~/Content/Site.css">
</head>

<body background="http://solaris-html.themerex.net/images/travel-5.jpg" style="background-repeat:no-repeat; background-size:cover;">


    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-md-5">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                <span class="ml-2">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                                <span class="ml-2">Accommodations</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                <span class="ml-2">Guests</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                                <span class="ml-2">Bookings</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                                <span class="ml-2">Reports</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">


                <h1>You are a host now!</h1> <br />
                <h3>Next step for you:</h3> <br />

                <div class="containerAc" style="height:150px; width:200px;">
                    <a>Add a new accommodation listing and explore your options. Start hosting!</a> <br />
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg> <br />
                    <input class="newacc" type="button" value="New Accommodation" onclick="location.href='@Url.Action("New", "Accommodation")'" />
                </div>

                <div class="row my-4">
                    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <div class="card">
                            <h5 class="card-header">Accommodations</h5>
                            <div class="card-body">
                                <h5 class="card-title">Get all the data of your listings</h5>
                                <input class="click" type="button" value="Click Here" onclick="location.href='@Url.Action("", "")'" />
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
                        <div class="card">
                            <h5 class="card-header">Guests</h5>
                            <div class="card-body">
                                <h5 class="card-title">Get all the data of your guests</h5>
                                <input class="click" type="button" value="Click Here" onclick="location.href='@Url.Action("", "")'" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
                        <div class="card">
                            <h5 class="card-header">Bookings</h5>
                            <div class="card-body">
                                <h5 class="card-title">Get all the data of your bookings</h5>
                                <input class="click" type="button" value="Click Here" onclick="location.href='@Url.Action("", "")'" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-xl-8 mb-4 mb-lg-0">
                        <div class="card">
                            <h5 class="card-header">Latest bookings</h5>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">BookingID</th>
                                                <th scope="col">Accommodation</th>
                                                <th scope="col">Guest</th>
                                                <th scope="col">Total Price</th>
                                                <th scope="col">Date</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">17371705</th>
                                                <td>Volt Premium Bootstrap 5 Dashboard</td>
                                                <td>johndoe@gmail.com</td>
                                                <td>€61.11</td>
                                                <td>Aug 31 2020</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">17370540</th>
                                                <td>Pixel Pro Premium Bootstrap UI Kit</td>
                                                <td>jacob.monroe@company.com</td>
                                                <td>$153.11</td>
                                                <td>Aug 28 2020</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">17371705</th>
                                                <td>Volt Premium Bootstrap 5 Dashboard</td>
                                                <td>johndoe@gmail.com</td>
                                                <td>€61.11</td>
                                                <td>Aug 31 2020</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">17370540</th>
                                                <td>Pixel Pro Premium Bootstrap UI Kit</td>
                                                <td>jacob.monroe@company.com</td>
                                                <td>$153.11</td>
                                                <td>Aug 28 2020</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">17371705</th>
                                                <td>Volt Premium Bootstrap 5 Dashboard</td>
                                                <td>johndoe@gmail.com</td>
                                                <td>€61.11</td>
                                                <td>Aug 31 2020</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">17370540</th>
                                                <td>Pixel Pro Premium Bootstrap UI Kit</td>
                                                <td>jacob.monroe@company.com</td>
                                                <td>$153.11</td>
                                                <td>Aug 28 2020</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="card">
                            <h5 class="card-header">Traffic last 6 months</h5>
                            <div class="card-body">
                                <div id="traffic-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script>
        new Chartist.Line('#traffic-chart', {
            labels: ['Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
            series: [
                [23000, 25000, 19000, 34000, 56000, 64000]
            ]
        }, {
            low: 0,
            showArea: true
        });
    </script>
</body>
</html>

