@*@model TravelExperience.MVC.ViewModels.MapViewModel

    @{
        ViewBag.Title = "Map";
    }

    <style>
        #map-wrapper {
            position: relative;
        }

        #marker {
            position: relative;
            top: 375px;
            left: 300px;
            width: 30px;
            height: 30px;
            background-color: green;
            transform: rotate(45deg);
            z-index: 50;
        }

        #map {
            height: 800px;
            width: 650px;
        }
    </style>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLxLZZ4ElJQCQT_Ppnc_KoQC30aESetyE&callback=initMap"
            async defer></script>

    <div id="map-wrapper">
        <div id="marker"></div>
        <div id="map">
            <script>
                var map;
                var center = { lat: 37.98096185419733, lng: 23.732283397775806 };
                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: center,
                        zoom: 10
                    });

                    map.addListener('dragend', function () {
                        center.lat = map.center.lat();
                        center.lng = map.center.lng();
                        console.log(center);
                    });
                    getLocations();
                }
                   function getLocations() {
                            $.get("@Url.Action("Locations", "Map")", function (dataFromView, status) {
                                var data = JSON.parse(dataFromView);
                                var marker = [];
                                var contentString = [];
                                var infowindow = [];

                                for (var i = 0; i < data.length; i++) {
                                    var lat = parseFloat(data[i].Xcoord);
                                    var lon = parseFloat(data[i].Ycoord);
                                    marker[i] = new google.maps.Marker({
                                        position: { lat: lat, lng: lon },
                                        map: map
                                    });
                                    contentString[i] = '<div id="content">' +
                                        '<div id="siteNotice">' +
                                        '</div>' +
                                        '<h3 id="firstHeading" class="firstHeading>' + data[i].Address + '</h3>';
                                    infowindow[i] = new google.maps.InfoWindow({
                                        content: contentString[i]
                                    });
                                    var mdl = marker[i];
                                    google.maps.event.addListener(marker[i], 'mouseover', (function (mdl, i) {
                                        return function () {
                                            infowindow[i].open(map, marker[i]);
                                        }
                                    })(marker[i], i));
                                    google.maps.event.addListener(marker[i], 'mouseout', (function (mdl, i) {
                                        return function () {
                                            infowindow[i].close();
                                        }
                                    })(marker[i], i));
                                }
                            });
                        }

            </script>

        </div>
    </div>*@

@model TravelExperience.MVC.ViewModels.MapViewModel

@{
    ViewBag.Title = "Map";
}

<style>
    #map-wrapper {
        position: relative;
    }

    #marker {
        position: relative;
        top: 375px;
        left: 300px;
        width: 30px;
        height: 30px;
        background-color: green;
        transform: rotate(45deg);
        z-index: 50;
    }

    #map {
        height: 800px;
        width: 650px;
    }
</style>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLxLZZ4ElJQCQT_Ppnc_KoQC30aESetyE&callback=initMap"
        async defer></script>

<div id="map-wrapper">
    @if (!Model.ShowLocations)
    {
        <div id="marker"></div>
        <input id="latitude" name="latitude" type="hidden" />
        <input id="longitude" name="longitude" type="hidden" />
    }
    <div id="map">
        <script>
            var map;
            var center = { lat: 37.98096185419733, lng: 23.732283397775806 };
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: center,
                    zoom: 2
                });

                @{
                    if(Model.ShowLocations)
                    {
                        @:loadLocations();
                    }
                    else
                    {
                        @:detectMapCenterOnDragEnd();
                    }
                }
            }

        @{
            if (Model.ShowLocations)
            {
                <text>

                function loadLocations() {
                    fetch("@Url.Action("Locations", "Map")").then(response => response.text()).then( dataFromView => {
                    var data = JSON.parse(dataFromView);
                    var marker = [];
                    //var contentString = [];
                    //var infowindow = [];

                    for (var i = 0; i < data.length; i++) {
                        var lon = parseFloat(data[i].Xcoord);
                        var lat = parseFloat(data[i].Ycoord);
                        marker[i] = new google.maps.Marker({
                            position: { lat: lat, lng: lon },
                            map: map
                        });
                        //contentString[i] = '<div id="content">' +
                        //    '<div id="siteNotice">' +
                        //    '</div>' +
                        //    '<h3 id="firstHeading" class="firstHeading>' + data[i].Address + '</h3>';
                        //infowindow[i] = new google.maps.InfoWindow({
                        //    content: contentString[i]
                        //});
                        //var mdl = marker[i];
                        //google.maps.event.addListener(marker[i], 'mouseover', (function (mdl, i) {
                        //    return function () {
                        //        infowindow[i].open(map, marker[i]);
                        //    }
                        //})(marker[i], i));
                        //google.maps.event.addListener(marker[i], 'mouseout', (function (mdl, i) {
                        //    return function () {
                        //        infowindow[i].close();
                        //    }
                        //})(marker[i], i));
                    }
                });
                }
                </text>

            }
            else
            {
                <text>
            function detectMapCenterOnDragEnd() {
                document.getElementById('latitude').value = center.lat;
                document.getElementById('longitude').value = center.lng;
                        map.addListener('dragend', function () {
                            center.lat = map.center.lat();
                            center.lng = map.center.lng();
                            document.getElementById('latitude').value = center.lat;
                            document.getElementById('longitude').value = center.lng;
                        });
                    }
            </text>

            }
        }
        </script>

    </div>
</div>