@model TravelExperience.MVC.ViewModels.MainPageViewModel


<div class="grid-container thumb-container">
    @for (int i = 0; i < Model.RandomAccommodations.Count(); i++)
    {
        var accomLink = Model.RandomAccommodations.ToArray()[i];

        @*Loads the given thumbnailAccommodation ImageInfo. Then it loads as a partial view the aquired image.*@
        var firstThumb = @Model.ThumbnailOfAccommodations[accomLink].FirstOrDefault();
     

       <div class="col-md-4 accom-thumb-link">
           <a href="" style="text-align:center;">
               <h3 class="location">@accomLink.Location.City.ToString()</h3>
               @Html.Partial("_AccommodationThumbnail", @firstThumb)
           </a>
       </div>
    }
</div>

<style>

    .thumb-container {
        justify-content: space-evenly;
    }

    .accom-thumb-link a {
        text-decoration: none;
        height: 180px;
    }

    .accom-thumb-link {
        top: 0;
        left: 0;
        position: absolute;
        border-radius: 2%;
        text-align: center;
        font-size: 16px;
        color: #fff;
        position: relative;
        max-width: 31%;
        height: 240px;
        margin: 20px 10px 20px 10px;
        padding: 20px 10px 20px 10px;
    }
    .accom-thumb-link:hover{
        opacity:0.8;
    }

    .location{
        color: #201919;
    }
</style>

